*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav1{
    width: 100%;
    height: auto;
    background-color: black; 
}

.nav1box{
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}


.s1{
    width: 100%;
    padding: 30px 0px;
   background-image: url(img/herobg.png);
   background-position: center;
   background-size: cover;
    height: 80vh;
    

}

.s1box1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,0.08);
    box-shadow: 0px 4px 30px rgba(0,0,0,0);
    padding: 10px 100px;
   
   
}

.s1box1div1{
    width: 100%;
}

.s1box1div1 h1{
    font: 35px;
    color: white;
}



.s1box1div2{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 30px;
}
.s1box1div2 ul{
    display: flex;
    gap: 30px;
}

.s1box1div2 a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.s1box1div2 button{
    padding: 10px 20px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    color: white;
}

.s1box2{
    width: 100%;
    margin-top: 100px;
    padding: 0px 100px;

}

.s1box2div{
    width: 50%;
    
}

.s1box2div div h1{
    font-size: 60px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

.s1box2div div p{
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#s1box2btn{
    margin-top: 30px;
}

#s1box2btn1{
    padding: 10px 20px;
    background-color: blue;
    border: none;
    border-radius: 5px;
   
    color: white;
}

#s1box2btn a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#s1box2btn2{
    background-color: transparent;
    padding: 10px 20px;
    margin-left: 20px;
    border: none;
}
.s2{
    width: 100%;
    height: auto;
    padding: 30px 100px;
}
.s2box{
    width: 100%;
    /* padding: 50px 0px; */
    text-align: center;
}

.s2box p{
    font-size: 16px;

}

.s2box div img{
    width: 6%;
}

.s3{
    width: 100%;
    padding: 20px 100px;
    text-align: center;
    height: auto;
    background-color: black;
}

.s3box{
    width: 100%;
    
    
}

.s3box1{
    width: 100%;
}

.s3box1 h3{
font-size: 20px;
color: white;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.s3box2{
    width: 100%;
    display: flex;
    margin-top: 30px;
    align-items: center;
   gap: 30px;
   justify-content: center;
}

.s3box2 div{
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 20px 10px;
    width: 25%;
    height: 20vh;
    text-align: center;
    
}
.s3box2 div h3{
    font-size: 16px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.s3box2 div p{
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    /* padding-right: 50px; */
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.s4{
    width: 100%;
    padding: 30px 130px;
    background-color: black;
    border-bottom: 1px white;
    border-top: 1px solid white;
    height: auto;
}

.s4box{
    width: 100%;
     
    
}

.s4box1{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
    /* padding-right: 100px; */
    /* gap: 100px; */
    
}
#s4box1div1{
    width: 100%;
    padding-right: 200px;
}

#s4box1div1 h2{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#s4box1div1 ol li{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin-top: 2px; */
    line-height: 25px;
    color: white;
  
}

#s4box1div2 {
    width: 100%;
    text-align: center;
}
#s4box1div2 img{
    width: 50%;
}

.s4box2{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0px 50px; */
    gap: 300px;
}

#s4box2div1{
    width: 100%;
   
   
}

#s4box2div1 img{
    width: 80%;
}

#s4box2div2{
    width: 100%;
    /* padding-right: 200px; */
   

}

#s4box2div2 h2{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#s4box2div2 ol li{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin-top: 2px; */
    line-height: 25px;
    color: white;
  
}

